@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.app-graycat {
	background-image: url(../img/bg_graycat.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.font-en {
	font-family: 'Montserrat', sans-serif;
}

.font-ja {
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
	margin: 0 0 0 0;
	background: #1F7696;
	text-align: center;
}

body, h1, h2, h3, h4, h5, p {
	font-family: 'SF Pro',sans-serif;
	color: #fff;
}
a {
	text-decoration: underline;
	color: #fff;
}
a.backToHome {
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 1.1em;
}
.row {
	margin: 0;
	padding: 1em;
	clear: both;
	border-top: 1px solid #408AA5;
}

h1 {
	font-size: 60px;
	font-weight: 900;
}
h2 {
	font-size: 40px;
	font-weight: 900;
	font-weight: bold;
}
h3 {
	font-size: 1.5em;
	font-weight: bold;
}

p.cp {
	font-size: 17px;
	line-height: 1.4;
}
.head {
	padding: 40px 0 20px 0;
}
.contentbody {
	background-color: #EAEEEF;
	color: #1E282C;
}
.contentbody h2, .contentbody h3, .contentbody h4, .contentbody p, .contentbody a {
	color: #1E282C;
}
.textbox {
	padding: 1em;
	text-align: left;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

a.btn-app,
a.btn-app:visited {
	display: block;
	width: 130px;
	margin: 0 auto;
	padding: 10px 14px 10px 14px;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	border: 2px solid #fff;
	border-radius: 30px;
	text-decoration: none;
}
a.btn-app:hover {
	background-color: #fff;
	color: #1F7696;
}
.img-circle {
	border-radius: 50px;
}
.btn-contact {
	font-size: 24px;
}
footer {
	padding: 30px 0 50px 0;
}
dl, dt, dd {
	margin: 0;
	padding: 0;
	list-style: none;
}





.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
